.flex-row () {
  display: flex;
  flex-direction: row;
}

.flex-col () {
  display: flex;
  flex-direction: column;
}

.btn () {
  color: white;
  background-color: slateblue;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}
