html,
body {
  /* font-size: 62.5%; */
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url("images/confetti.jpg");
  width: 100%;
  height: 300px;
}

header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 500px;
}

header nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 50px;
  padding-top: 10px;
  border: 1px solid red;
}

h1,
a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-family: "Roboto";
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}

header img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

/* .body-upper {
  display: flex;
  flex-direction: column;
} */

.body-upper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 3px;
  border: 1px solid red;
}

h2 {
  display: flex;
  justify-content: center;
}

footer {
  background-image: url("images/product.jpg");
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 250px;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border: 1px solid red;
}

footer a {
  color: black;
}
